<%- include('includes/header') %>
  <!-- header ends here -->
  
  <div class="container py-md-5 container--narrow">
    <div class="text-center">
      <h2>Lame as Fuck 404 page. TODO: put something more retarded here. </h2>
      <p class="lead text-muted">Home page <a href="/">homepage</a> to get a fresh start.</p>
    </div> 
  </div>
  
  <!-- footer begins -->
  <%- include('includes/footer') %>